@font-face{
font-family: ubuntuRegular;
src: url('../ttf/Ubuntu-R.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBold;
src: url('../ttf/Ubuntu-B.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBoldItalic;
src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
}

@font-face{
font-family: ubuntuItalic;
src: url('../ttf/Ubuntu-I.ttf') format('truetype');
}


* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}	

body {
	font-size: 100%;
	max-width: 1140px;
	width: 90%;
	font-family: ubuntuRegular;
	margin: 0 auto;
}

hr {
	margin-top: 10px;
}

h1 {
	font-size: 2em;
	margin-bottom: 30px;
	text-align: center;
	transform: translate(0px, 20px);
}

h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}

h3 {
	font-size: 1.17em;
	margin-left: 10px;
}

h4 {
	 font-size: 1em;
	 margin-bottom: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

nav {
	margin-bottom: 1em;
	margin-left: 10px;	
}

nav li {
	display: inline;
	/*margin-right: 5px;*/
}

p{	
	text-align: justify;
	margin-left: 10px;
	margin-bottom: 1em;
}

nav a {
	text-decoration: none;
}

label{
	/* display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px; */
	/* padding-top: 0.5em; */
	font-family: Arial;
	/* width: 150px; */
	/* text-align: right; */
}

footer p{
	text-align: center;	
}

footer {
	background-color: darkslategray;
	padding: 1em;
}

.error {
	color: red;
}

main {
	min-height: 40em;
}

header {
	background-color: darkcyan;
}

#datos {
	margin-top: 1em;
	margin-bottom: 1em;
	background: lightgray;
}

input[type="button"], [type="text"], [type="number"], [type="submit"] {
	padding: 0.5em;
}

form {
	margin-top: 2em;
}

.ejercicio ol {
	list-style-type: upper-alpha;
}

pre {
	margin-top: 2em;	
}

table {
	margin-top: 2em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

input[type=number] {
	appearance: textfield;
}

select {
	padding: 0.5em;
}

.nav-link {
	border: 0.1em solid white;	
}

.nav-link:hover {
	background-color: gray;
	color: white;
	border: 0.1em solid darkgray;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}

.navbar-nav .nav-link.active {
	background-color: gray;
	color: white;
	border: 0.1em solid darkgray;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}

.active {
	color: rgb(154, 87, 5);
}

.nav-item span {
	color: black;
	padding-left: 0.3em;
	display: inline-block
}

.nav-link{
	display: inline;
}

.credentials {	
	border-radius: 0.5em;
	box-shadow: 0em 0em 1em;
	text-align: center;
	padding: 1em;
}

.credentials p, a {
	font-size: 0.7em;
	text-decoration: none;
}

.credentials input[type="submit"] {
	border-radius: 1.5em;
	border: 1px solid gray;
	width: 80%;
}

.credentials form {
	margin-top: 0
}

/***************** Configuración para móviles **********************/
@media (max-width:480px) {

}

/********* Configuración para tablets *****************/
@media (min-width:481px) and (max-width: 768px) {

}

